# Ignore all files by default
/*

!.zshrc
!.gitignore

# Handle the .config directory
# Important: Even though we are un-ignoring .config/,
!.config/
.config/*
!.config/alacritty/
!.config/docker/

!.config/infrastructure/
!.config/nvim/
!.config/oh-my-zsh/
!.config/rofi/
!.config/warp-terminal/
!.config/zsh/
!.config/samba/

# 4. Handle the .config/frigate folder
!.config/frigate/
.config/frigate/storage/*
*.db-journal        
.config/frigate/cache/*             
.config/frigate/faces/*              
.config/frigate/frigate.db*
.config/frigate/faces.db
.config/frigate/model_cache/*
**/frigate.yml


# Home Assistant specific configs
!.config/home-assistant/
.config/home-assistant/.storage/
.config/home-assistant/*.db
.config/home-assistant/*.log
**/secrets.yaml