# 1. Ignore everything in the root directory
/*

# 2. Whitelist (! means "do not ignore") the specific file
!.zshrc
!.gitignore

# 3. Handle the .config folder
# A. Un-ignore the folder itself so git looks inside
!.config/
# B. Ignore everything inside .config (so you don't track unwanted configs)
.config/*
# C. Whitelist the specific subfolders (must come after step B)
!.config/alacritty/
!.config/docker/

# 4. Handle the .config/frigate folder
!.config/frigate/
.config/frigate/storage/*
*.db-journal        
.config/frigate/cache/*             
.config/frigate/faces/*              
.config/frigate/frigate.db*
.config/frigate/faces.db
.config/frigate/model_cache/*

!.config/infrastructure/
!.config/nvim/
!.config/oh-my-zsh/
!.config/rofi/
!.config/warp-terminal/
!.config/zsh/
!.config/samba/

# Home Assistant specific configs
!.config/home-assistant/
.config/home-assistant/.storage/
